html{
  overflow-y:scroll;
  background: #4CA1AF; /* fallback for old browsers */
  background: -webkit-linear-gradient(#4CA1AF , #C4E0E5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#4CA1AF , #C4E0E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment:fixed;
  background-size:cover;
}

#top{
  margin:0;
  padding:0;
  font-size:12px;
  font-family:verdana,Arial, Helvetica,sans-serif;
  color:#CCCCCC;
}

.row1, .row2, .row3, .row4{
  position:relative;
  float:left;
  width:100%;
  margin:0;
  text-align:left;
}

.row1, .row2{
  z-index: 1;
}
.row3{
  z-index: =0;
}


/*--------Row1--------*/

.row1{
  position:fixed;
  top:0px;
  background :#f2671f;
  box-shadow: 5px 5px 15px black ;
  box-sizing: border-box;
  height:80px;
}

#banner {
  width: 100%;
  margin: 0px auto;
  padding-left: 20px;
  height: inherit;
}

#blog_name{
  margin-top: 30px;
  font-family: verdana, sans-serif;
  font-size: 50px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-align: left;
  letter-spacing: 0px;
  line-height: 20px;
  text-shadow: 2px 2px 4px #000000
}

#blog_name {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#blog_name:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#blog_name:hover, #blog_name:focus, #blog_name:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#blog_name:hover:before, #blog_name:focus:before, #blog_name:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/*-------Row2--------*/

.row2 {
  position:fixed;
  top:80px;
  background :#f2671f;
  box-shadow: 5px 5px 15px black ;
  box-sizing: border-box;
}

#navmeu{
  width:90%;
  margin:auto;
  padding:0px;
}

ul{
  list-style-type: none;
  padding: 0px;
  margin:0px;
  overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover {
    background-color: #111;
}

#about,#logout{
	float:right;
}

/*---------Row4--------*/

.row4{
}

#footer{
  width:100%;
  background :#f2671f;
  box-shadow: 5px 5px 15px black;
  box-sizing: border-box;
  height:20px;
  position:fixed;
  bottom:0;
}
