/*-----Outside-------*/

html{
  overflow-y:scroll;
}

body{
  margin:0px;
  padding:0px;
  font-size:12px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  color:#CCCCCC;
  background-color: #fff;
}

/*----------CommonForRows---------*/

.row1, #row3, .row4{
  width:100%;
  margin:0;
  text-align:left;
}
.row1,.row4{
  background: #26519e; /* fallback for old browsers */
}








/*--------Row1--------*/

.row1{
  min-width: 300px;
  z-index:1;
  position:fixed;
  top:0;
  box-sizing: border-box;
  height:80px;
}

#banner{
  height:inherit;
  width:100%;
  padding:0 0 0 30px;
  box-sizing: border-box;
}

#blog_name{
  box-sizing: border-box;
  height:inherit;
  display:block;
  float:left;
  font-family: 'Josefin Sans', sans-serif;
  width:120px;
  padding-top:15px;
  font-size: 3.5em;
  color: #fff;
  text-align: left;
}


#navmenu{
  box-sizing: border-box;
  height:auto;
  display:block;
  float:right;
  width:auto;
  margin-left:20px;
  padding:0px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin-top:25px;
  overflow: hidden;
  font-size: 16px;
  font-weight: lighter;
}

li {
    float: left;
}

li a {
  font-family: 'Signika', sans-serif;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.3s;
}



li a:hover {
    background-color: #111;
}

ul.topnav li.icon {
  display: none;
}

@media screen and (max-width:700px) {
  ul.topnav li {
    display: none;
  }
  ul.topnav li.icon {
    float: right;
    display: block;
    margin-right:10px;
    }
}

@media screen and (max-width:700px) {
  ul.topnav.responsive {
    position: relative;


  }
  ul.topnav.responsive li.icon {
    position: relative;
    right: 0;
    top: 0;
    transition: 0.3s;
  }

  ul.topnav.responsive li {
    float: none;
    display: block;
    right:0;
    transition: 0.3s;
    text-align:right;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: center;
    width:100px;
    background-color: #26519e;
    transition: 0.3s;
  }
    ul.topnav.responsive li a:hover {
      background-color: black;
      transition: 0.3s;
    }
}



/*----------Row3----------*/

#row3{
  z-index:0;
  margin-top:100px;
}

/*---------Row4--------*/
.row4{
  position:fixed;
  bottom:0;
}

#footer{
  width:100%;
  box-sizing: border-box;
}


.article2{
  position:relative;
  width:90%;
  margin:auto;
  margin-bottom:30px;
  padding:30px;
  background-color:rgba(120, 151, 156, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  color:black;
}


.container1{
  height:250px;
  border-radius: 5px;
  color:black;
  box-sizing: border-box;
  margin: 5px auto;
  padding:20px;
  width:90%;
  background: rgba(120, 151, 156, 0.3);
  transition: 0.3s;

}
.container1:hover{
background:rgba(120, 151, 156, 0.5);
}

.article1{
  display:block;
  width:100%;
  float:left;
}
.imageholder{
  display: block;
  float: left;
  max-width: 150px;
  height: 150px;
  margin: 0;
  padding: 4px;
  border: 1px solid #666666;
}

.heading{
  overflow:hidden;
  margin-left:180px;
  width:auto;
  height:180px;
}
.continue{
  display:block;
  text-align:right;
}

.container3{
  padding-top:20px;
  position:relative;
  margin:auto;
  width:90%;
  background-color: rgba(120, 151, 156, 0.5);
  box-sizing: border-box;
}
.imageholder2{
  position:relative;
  margin: 20px auto;
  width:250px;
  height:250px;
  border:1px solid black;

}
.personalinfo{
  position:relative;
  margin:30px 0 30px 30px;
  color:black;
  font-family: sans-serif;
}


