.container3{
  padding-top:20px;
  position:relative;
  margin:auto;
  width:90%;
  background-color: rgba(0, 0, 0,0.5);
  box-sizing: border-box;
}
.imageholder2{
  position:relative;
  margin: 20px auto;
  width:250px;
  height:250px;
  border:1px solid black;

}
.personalinfo{
  position:relative;
  margin:30px 0 30px 30px;
  color:black;
  font-family: sans-serif;
}
