.article2{
  position:relative;
  width:90%;
  margin:auto;
  margin-bottom:30px;
  padding:30px;
  background-color:rgba(120, 151, 156, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  color:black;
}
